@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

/* In this project RWD only for desktop */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --cream: #fbf0f3;
    --light: #827397;
    --medium: #4D4C7D;
    --dark: #363062;
    font-size: 16px;
}

a {
    text-decoration: none !important;
}

P {
    color: var(--dark);
}

html {
    font-family: 'Lato', sans-serif;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: var(--medium);
    color: white;
    grid-row: 1/ span 2;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 1.5rem;
    font-weight: 700;
}

.logo img {
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(1);
}

.logo h1 {
    color: white;
}

.sidebar div,
.sidebar ul {
    padding-left: 10%;
}

.sidebar li {
    margin-bottom: 20px;
}

.sidebar li a {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 1.35rem;
}

.sidebar li a img {
    transition: all linear .4s;

}

.sidebar li a:hover img {
    transform: scale(1.25);
    transform-origin: center;
}

.sidebar ul img {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 20px;
    margin-left: 5px;
    filter: invert(1);
}

.sidebar li:nth-child(6) {
    margin-bottom: 60px;
}

.header {
    grid-column: 2 / span 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 2% 5%;
    z-index: 2;
}   

.header1 {
    grid-row: 1 / 2;
}

.header2 {
    grid-row: 2 / 3;
    padding-top: 20px;
}

.header1 img {
    margin-right: 20px;
}

.profile {
    background-color: #fdd315;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.header1 input {
    min-width: 200px;
    width: 45vw;
    border-radius: 30px;
    background-color: var(--cream);
    color: var(--dark);
    border: none;
    font-size: 1.25rem;
    padding: 5px 10px;
}

.header1,
.header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header1 div {
    display: flex;
    align-items: center;
}

.header1 p {
    font-size: 1.3rem;
    font-weight: bold;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}

.projects {
    grid-row: 1 /span 2;
}

.announcs {
    grid-row: 1 / 2;
    margin-bottom: 30px;
}

.trending {
    grid-row: 2 / 3;
}

.btn {
    background-color: var(--medium);
    color: white;
    width: 120px;
    border-radius: 50px;
    border: 2px solid var(--medium);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    padding: 6px;
    font-weight: 600;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.btn:hover {
    background-color: white;
    color: var(--medium);
}

.header2 img {
    width: 60px;
    height: 60px;
    background-color: #fdd315;
    padding: 5px;
    border-radius: 100%;
}

.hello {
    display: flex;
    gap: 0 30px;
    align-items: center;
}

.hello p {
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.hello p:nth-child(2) {
    font-size: 1.5rem;
}


.main {
    background-color: var(--cream);
    color: var(--dark);
    padding: 2% 5%;
}

.projects h2,
.announcs h2,
.trending h2 {
    width: 100%;
    font-size: 1.5rem;
    color: var(--dark);
    margin-bottom: 20px;
    font-weight: 600;
}

.projectsGroup {
    display: flex;
    flex-wrap: wrap;
    --gapProject: 30px;
    gap: var(--gapProject); 
}

.shadow {
    box-shadow: 0px 3px 10px rgb(211 211 211);
}

.project {
    position: relative;
    /* min-width: 300px; */
    max-width: calc(50% - var(--gapProject));
    background-color: white;
    --radiusProject: 10px;
    border-radius: var(--radiusProject);
    padding: 30px;
}

.borderLeft {
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: var(--radiusProject);
    border-bottom-left-radius: var(--radiusProject);
    content: "";
    width: 10px;
    height: 100%;
    background-color: #fdd315;
}

.project h3 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.project p {
    color: var(--medium);
    margin-bottom: 50px;
}

.project-icon {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    justify-content: flex-end;
}

.project-icon img {
    opacity: 0.5;
    width: 30px;
    height: 30px;
    transition: all .5s linear;
    padding: 5px;
    cursor: pointer;
}

.project-icon img:hover {
    opacity: 1;
}

.infos {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.infos h3 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.infos p {
    color: var(--medium);
    margin-bottom: 20px;
}

.infos hr {
    border-top: 1px solid var(--light);
}

.trends {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}

.trend {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.trend img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.trend:nth-child(1) img {
    background-color: rgb(83, 142, 253);
}

.trend:nth-child(2) img {
    background-color: rgb(252, 55, 55);
}

.trend:nth-child(3) img {
    background-color: rgb(228, 90, 228);
}

.trend:nth-child(4) img {
    background-color: rgb(78, 214, 96);
}

.trend p  {
    color: var(--medium);
}

.trend p span {
    font-weight: 600;
}

@media screen and (max-width: 1150px) {
    .btn {
        width: 100px;
    }

    .hello p:nth-child(2) {
        font-size: 1.35rem;
    }

    .header1 input {
        width: 40vw;
    }

    .infos h3 {
        font-size: 1rem;
    }

    .infos p {
        font-size: 0.75rem;
    }

    .header,
    .main {
        padding: 2% 3%;
    }

    .logo h1 {
        font-size: 1.35rem;
    }


}


@media screen and (max-width: 920px) {


    * {
        font-size: 14px !important;
    }

    .buttons {
        gap: 10px;
    }


}

